/* STYLING FOR FIRST PAGE */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--var-fonte-primaria);
    color: white;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --var-fonte-primaria: 'Poppins', sans-serif;
    --var-fonte-secundaria: 'Anton', sans-serif;
    --var-cor-primaria: #67b1d6;
    --var-cor-secundaria: #fff;
}

body {
    width: 100%;
    min-height: 10vh;
    background: url(../mountain_view_1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 100px 35px 60px;
    background: transparent;
    z-index: 10;
}
/* LOGO */
.logo {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
}

.logo-img{
    width:150px;
    height:auto;
    margin-right: 10px;
}

.logo-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    margin-left: 10px;
}

.top-text {
    font-size: 24px;
    color:white;
}

.bottom-text {
    font-size: 18px;
    margin-top: auto;
    color: white;
}
/* Navigation Bar  */
.navbar {
    display: flex;
}

.navbar a {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    margin: 0 5px;
    color: var(--var-cor-secundaria);
    transition: all .45s ease;
    border-radius: 5px;
}

.navbar a:hover {
    background: var(--var-cor-primaria);
}

#menu-icon {
    font-size: 40px;
    color: var(--var-cor-secundaria);
    cursor: pointer;
    display: none;
}

.header-btn a {
    padding: 10px 20px;
    color: var(--var-cor-secundaria);
    font-size: 15px;
    font-weight: 600;
}

.header-btn .in {
    background: var(--var-cor-primaria);
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all .50s ease;
}

.header-btn .in:hover {
    border: 2px solid var(--var-cor-primaria);
    background: transparent;
}

.user:hover,
a#register-link:hover {
    background-color: var(--var-cor-primaria);
    border: 2px solid var(--var-cor-primaria);
    color: var(--var-cor-secundaria);
    transition: all .45s ease;
    border-radius: 5px;
}

.highlight {
    display: inline;
    padding: .25em 0;
    background: #2696E9;
    color: #ffffff;
}

@media (max-width: 1530px) {
    header {
        padding: 18px 3%;
        transition: .2s;
    }
}

@media (max-width: 1070px) {
    header {
        padding: 18px 3%;
        transition: .2s;
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: -800px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #1b1b1b;
        transition: all .50s ease;
        text-align: left;
    }

    .navbar a {
        display: block;
        padding: 1rem;
        margin: 0.8rem;
    }

    .navbar.open {
        top: 100%;
    }

}
/* Content Texts / Heading Styles */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

p#one {
    color: black;
    font-size: 50px;
    position: absolute;
    text-align: center;
    top:300px;
}




/* STYLING FOR REGISTER POPUP*/
.modal {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal.show {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color:#333;
}

.modal-header {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style for form inputs */
.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
}

/* CHOOSE FILE BUTTON STYLES */
.file-input-container {
    display: flex;
    align-items: center;
}

.file-label {
    margin-right: 10px;
}

#file-name {
    color:black;
}

/* Style for buttons (Responsive 3 line icon) */
.modal-content button {
    background-color: #67b1d6;
    color: white;
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    bottom: -16px;
    right: 6px;
}


.modal-content a {
    color: #67b1d6;
    text-decoration: underline;
    margin-top: 10px;
}

.modal-content h1 {
    color: black
}
/* Sign up form*/
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    color: black;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color:black;
}

.form-group label[for="file-input-id"] {
    background-color: var(--var-cor-secundaria);
    color: black;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}
/*GET STARTED BUTTON */

.btn {
    font-size:18px;
    font-weight: bold;
    background: #2696E9;
    width:160px;
    padding:20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    position: absolute;
    top:450px;
    right:25px;
}

.btn2{
    font-size:18px;
    font-weight: bold;
    background: #3c00a0;
    width:160px;
    padding:15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    position: absolute;
    top:450px;
    right:60px;
}

.btn2:hover, .btn2:focus, .btn2:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}

.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}
/* TEXT CARD SECTION SCROLL DOWN (INDEX.HTML)*/
section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-child(1) {
    color:#fff;
}

section:nth-child(2) {
    color:#1D212B;
    background: #fff;
}

section:nth-child(3) {
    color:#fff;

}

section:nth-child(4) {
    color:#1D212B;
    background: rgb(71, 159, 169);
}

section .container {
    margin: 100px;
}

section h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

section .cards {
    display: flex;
}

section .cards .text-card {
    background: #2696E9;
    margin: 20px;
    padding: 20px;
}

section .text-card #italic{
    font-style: italic;
}

section .text-card #underline{
    text-decoration: underline;
}

section .text-card #underline-bold{
    text-decoration: underline;
    font-weight: bold;
}
section .cards .text-card h2 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;   
}

@media (max-width: 900px) {
    section .cards {
        flex-direction: column;
    }
}
/* TEXT AT THE BOTTOM OF SECTION CARDS*/
.ep {
    position: absolute;
    font-size: 24px;
    bottom:-90px;
    right:220px;

}
/* TO REVEAL THE TEXTS*/
.reveal{
    position: relative;
    transform:translateY(150px);
    opacity: 0;  
    transition: all 2s ease;
}

.reveal.active {
    transform:translateY(0px);
    opacity: 1;  
}


/*FOOTER*/
footer {
    background: #67b1d6;
    color: white;
    padding: 5px 10px;
    margin-top: auto;
    text-align: center;
    position: sticky;
    top: 100%;

}
/* STYLING FOR REGISTRATION PAGE.HTML */

.form-box {
    width:90%;
    max-width: 450px;
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translate(-50%,50%);
    background: #fff;
    padding: 50px 60px 110px;
    text-align:center;
}

.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #67b1d6;
    position: relative;
}

.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #67b1d6;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}


.input-field{
    background: black;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input{
    width:100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i{
    margin-left: 15px;
    color: #999;
}

form p{
    color:black;
    text-align: left;
    font-size: 13px;
}

form p a{
    color:#3c00a0;
    text-decoration: none;
}

.btn-field{
    width:100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 100px;
}

.btn-field button{
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.input-group{
    height: 280px;
}

.btn-field button.disable{
    background: #eaeaea;
    color: #555;
}

/* styles for about.html */ 

.content h2{
    position: absolute;
    top: 250px;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 2px;
    padding: 0 5px;
    background: #2696E9;
    padding: 0.25em 0;
}

/* SECTION FOR ABOUT.HTML */
#box1 {
    background-color: #2696E9 ;
    padding: 200px ;
    border: 1px solid green ;
    margin-bottom: 50px;
}

#box1 h3 {
    font-size: 45px;
    position: absolute;
    bottom:-130px;
    left:115px;
    text-align: center;
}

#box1 p {
    text-align: justify;
    position: relative;
    left:-80px;
}

#box1 img {
    height:40%;
    width:15%;
    position:absolute;
    right:80px;
    bottom:-450px;
    border: 2px solid #333; /* Add a border */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


/* SECTION 2 FOR ABOUT.HTML */

#box2 {
    background-color: #2696E9 ;
    padding: 300px ;
    z-index: -2;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* BOX2 KAKAPO H1 HEADER */
#box2 h1.reveal{
    font-size: 45px;
    position: absolute;
    bottom:-750px;
    left:115px;
    text-align: center;
}
/* BOX2 TEXT */
#box2 p {
    text-align: justify;
    position: relative;
    left:-185px;
    font-size: 24px;
    bottom:100px;
}
/* BOX2 IMAGES  */

/* BUNK BEDS*/
#box2 img.photo1-kakapo{
    position: absolute;
    width: 25vw;
    left:108px;
    bottom:-1370px;
    border: 2px solid #333; /* Add a border */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
       
}

/* CABIN EXTERIOR */
#box2 img.photo2-kakapo{
    position: absolute;
    width:25vw;
    height:32vw;
    right: 50px;
    bottom:-1140px;
    border: 2px solid #333; /* Add a border */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


/* OUTSIDE VIEW */
#box2 img.photo3-kakapo{
    width:25vw;
    height: 16.5vw;
    position: absolute;
    left:455px;
    bottom:-1370px;
    border: 2px solid #333; /* Add a border */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* HALLWAY */
#box2 img.photo4-kakapo{
    width:25vw;
    position: absolute;
    right:195px;
    bottom: -1376px; /* Adjust the vertical position */
    border: 2px solid #333; /* Add a border */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}



/* SECTION 3 - kereru FOR ABOUT.HTML */

/* BOX3 BACKGROUND */
#box3 {
    background-color: #2696E9 ;
    padding: 320px ;
    z-index: -2;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* BOX3 HEADER */
#box3 h1.reveal{
    font-size: 45px;
    position: absolute;
    left:108px;
    bottom:-1750px;
    text-align: center;
}


/* BOX3 TEXTS */
#box3 p {
    text-align: justify;
    position: relative;
    right: 207px;
    bottom:138px;
    font-size: 20px;
}

/* BOX3 IMAGES*/

/* BEDROOM */
#box3 img.photo1-kereru {
    position: absolute;
    width: 25vw;
    left: 108px; /* HORIZONTAL POSTIONING*/ 
    bottom: -2310px; /* VERTICAL POSITION */
    border: 2px solid #333; /* BORDER */
    border-radius: 10px; /* FOR ROUNDED CORNERS */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* OUTSIDE VIEW */
#box3 img.photo2-kereru{
    position: absolute;
    width: 25vw;
    height:17vw;
    right: 407px;
    bottom: -2309px; /* Adjust the vertical position */
    border: 2px solid #333; /* Add a border */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* DOUBLE BEDS */
#box3 img.photo3-kereru{
    position: absolute;
    width: 25vw;
    height:16.5vw;
    right: 46px;
    bottom: -1940px; /* Adjust the vertical position */
    border: 2px solid #333; /* Add a border */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* KITCHEN */
#box3 img.photo4-kereru {
    position: absolute;
    width: 25vw;
    right: 46px;
    bottom: -2200px; /* Adjust the vertical position */
    border: 2px solid #333; /* Add a border */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


/* SECTION 4 - pukeko FOR ABOUT.HTML */
/* BOX4 BACKGROUND*/
#box4 {
    background-color: #2696E9 ;
    padding: 300px ;
    z-index: -2;
    margin-top: 50px;
}

#box4 h1.reveal{
    font-size: 45px;
    position: absolute;
    left:108px;
    bottom:-2750px;
    text-align: center;
}

#box4 p {
    text-align: justify;
    position: relative;
    right: 190px;
    bottom:130px;
    font-size: 20px;
}

/* ADULT BEDROOM */

#box4 img.photo1-pukeko {
    position: absolute;
    width: 25vw;
    left: 100px; /* HORIZONTAL POSTIONING*/ 
    bottom: -3340px; /* VERTICAL POSITION */
    border: 2px solid #333; /* BORDER */
    border-radius: 10px; /* FOR ROUNDED CORNERS */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#box4 img.photo2-pukeko {
    position: absolute;
    width: 25vw;
    right: 450px; /* HORIZONTAL POSTIONING*/ 
    bottom: -3340px; /* VERTICAL POSITION */
    border: 2px solid #333; /* BORDER */
    border-radius: 10px; /* FOR ROUNDED CORNERS */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#box4 img.photo3-pukeko {
    position: absolute;
    width: 25vw;
    right: 20px; /* HORIZONTAL POSTIONING*/ 
    bottom: -3250px; /* VERTICAL POSITION */
    border: 2px solid #333; /* BORDER */
    border-radius: 10px; /* FOR ROUNDED CORNERS */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#box4 img.photo4-pukeko {
    position: absolute;
    width: 25vw;
    right:20px; /* HORIZONTAL POSTIONING*/ 
    bottom: -2950px; /* VERTICAL POSITION */
    border: 2px solid #333; /* BORDER */
    border-radius: 10px; /* FOR ROUNDED CORNERS */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}




/* DOWN ARROW ANIMATION / STYLE */
.arrow {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #2696E9;
    animation: bounce 1s infinite;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;

}

@keyframes bounce {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(10px);
    }
}

/* CONTACT US PAGE STYLES */
