/* STYLING FOR FIRST PAGE */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--var-fonte-primaria);
    color: white
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --var-fonte-primaria: 'Poppins', sans-serif;
    --var-fonte-secundaria: 'Anton', sans-serif;
    --var-cor-primaria: #67b1d6;
    --var-cor-secundaria: #fff;
}

body {
    width: 100%;
    height: 10vh;
    background: url(../mountain_view_1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 100px 35px 60px;
    background: transparent;
}
/* LOGO */
.logo {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
}

.logo-img{
    width:150px;
    height:auto;
    margin-right: 10px;
}

.logo-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    margin-left: 10px;
}

.top-text {
    font-size: 24px;
    color:white;
}

.bottom-text {
    font-size: 18px;
    margin-top: auto;
    color: white;
}
/* Navigation Bar  */
.navbar {
    display: flex;
}

.navbar a {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    margin: 0 5px;
    color: var(--var-cor-secundaria);
    transition: all .45s ease;
    border-radius: 5px;
}

.navbar a:hover {
    background: var(--var-cor-primaria);
}

#menu-icon {
    font-size: 40px;
    color: var(--var-cor-secundaria);
    cursor: pointer;
    display: none;
}

.header-btn a {
    padding: 10px 20px;
    color: var(--var-cor-secundaria);
    font-size: 15px;
    font-weight: 600;
}

.header-btn .in {
    background: var(--var-cor-primaria);
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all .50s ease;
}

.header-btn .in:hover {
    border: 2px solid var(--var-cor-primaria);
    background: transparent;
}

@media (max-width: 1530px) {
    header {
        padding: 18px 3%;
        transition: .2s;
    }
}

@media (max-width: 1070px) {
    header {
        padding: 18px 3%;
        transition: .2s;
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: -800px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #1b1b1b;
        transition: all .50s ease;
        text-align: left;
    }

    .navbar a {
        display: block;
        padding: 1rem;
        margin: 0.8rem;
    }

    .navbar.open {
        top: 100%;
    }

}
/* Content Texts / Heading Styles */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content h1 {
    text-align:center;
    font-size: 41px;
    color: white;
    position: absolute;
    top:250px;
}

.content p {
    color: white
}

/* STYLING FOR REGISTER POPUP*/
.modal {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal.show {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.close {
    position: absolute;
    top: 10px;
    right: 12px;
    font-size: 20px;
    cursor: pointer;
    color:black;
}

.modal-header {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style for form inputs */
.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
}


.file-input-container {
    display: flex;
    align-items: center;
}

.file-label {
    margin-right: 10px;
}

#file-name {
    color:black;
}

/* Style for buttons */
.modal-content button {
    background-color: #67b1d6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Additional styling for links or other elements as needed */
.modal-content a {
    color: #67b1d6;
    text-decoration: underline;
    margin-top: 10px;
}

.modal-content h1 {
    color: black
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    color: black;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color:black;
}

.form-group label[for="file-input-id"] {
    background-color: var(--var-cor-secundaria);
    color: black;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

footer {
    background: #67b1d6;
    color: white;
    padding: 5px 10px;
    margin-top: auto;
    text-align: center;
    margin-top: auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;

}
/* STYLING FOR  */